.wp_spbnow-product-comments-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
} 

.wp_spbnow-product-comments-list li {
    padding: 1rem;
    background: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.12);
}

.wp_spbnow-product-comments-header {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

/* .wp_spbnow-product-comments-list .stars { */
/*     color: #f5a623; */
/* } */

.wp_spbnow-product-comments-list .comment-images {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 5px;
}

.wp_spbnow-product-comments-list .comment-images img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: transform 0.2s ease;
}

.wp_spbnow-product-comments-list .comment-images img:hover {
    transform: scale(1.1);
}

.wp_spbnow-product-comments-list small {
    color: #999;
    display: block;
    margin-top: 5px;
    font-size: 12px;
}
