/* ==========================
  INFO
========================== */

.wp-spbnow-product-rating {
    display: flex;
    align-items: center;
    gap: .5rem;
}


.wp-spbnow-product-price .price + .price-before-sale {
    text-decoration: line-through;
    opacity: .7;
}


/* ==========================
   GALERIA PRODUKTU
   ========================== */
.wp_spbnow_swiper-product-galery {
    max-width: 512px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.wp_spbnow_swiper-product-galery .swiper {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
}


.wp_spbnow_swiper-product-galery .swiper .swiper-wrapper {
    display: flex;
    height: 100%;
    align-items: stretch;
}

.wp_spbnow_swiper-product-galery .swiper .swiper-wrapper .swiper-slide 
{
    box-sizing: border-box;
}


.wp_spbnow_swiper-product-galery .swiper .swiper-wrapper .swiper-slide .swiper-slide-image 
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-size: contain;       /* dopasuj obraz do kontenera (bez rozciągania proporcji) */
    background-position: center;  /* wycentruj tło */
    background-repeat: no-repeat; /* nie powtarzaj tła */
}

/* Arrows */
.wp_spbnow_swiper-product-galery .swiper .swiper-controls {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.wp_spbnow_swiper-product-galery .swiper .swiper-controls div {
    position: unset;
}

.wp_spbnow_swiper-product-galery .swiper .swiper-controls div::after {
    color: gray;
    font-size: 2rem;
}


/* Paginacja */
.wp_spbnow_swiper-product-galery-pagination.swiper-pagination {
    position: unset;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}


.wp_spbnow_swiper-product-galery-pagination.swiper-pagination > button {
    margin: unset !important;
    padding: 0;
    border-radius: 0;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

