.wp_spbnow-product-comment-form { 
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.wp_spbnow-product-comment-form input,
.wp_spbnow-product-comment-form textarea,        
.wp_spbnow-product-comment-form button { 
    cursor: pointer; 
}

.comment-notice { 
    margin-bottom: 10px; 
    padding: 8px; 
    background: #e0ffe0; 
    border: 1px solid #b0ffb0; 
    border-radius: 4px; 
}

.wp_spbnow-comment-author-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.wp_spbnow-comment-author-section #wp_spbnow_comment_author,
.wp_spbnow-comment-author-section #wp_spbnow_comment_email {
    max-width: 200px;
}

/* .wp_spbnow_comment_rating_section {

} */

.wp_spbnow_comment_stars_wrapper {
    display: flex;
}

.wp_spbnow_comment_stars {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.wp_spbnow_comment_stars input {
    /* display: none; */
    position: absolute;
    right: 0;
    opacity: 0;
}

.wp_spbnow_comment_stars label {
    font-size: 32px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.wp_spbnow_comment_stars input:checked ~ label,
.wp_spbnow_comment_stars label:hover,
.wp_spbnow_comment_stars label:hover ~ label {
    color: gold;
}

#wp_spbnow_comment_content {
    resize: vertical;
    min-height: 125px;
}

.image-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.image-preview img {
    max-height: 50px;
}
